adafruit-ampy==1.0.7
certifi==2019.3.9
chardet==3.0.4
Click==7.0
docker-py==1.10.6
docker-pycreds==0.4.0
docopt==0.6.2
idna==2.7
luma==0.8.11
luma.core==1.8.3
luma.oled==3.1.0
Pillow==5.4.1
pycparser==2.18
pyparsing==2.2.0
pyserial==3.4
python-dateutil==2.7.3
python-dotenv==0.10.1
requests==2.19.1
RPi.GPIO==0.6.5
six==1.12.0
smbus2==0.2.3
spidev==3.4
uflash==1.0.8
urllib3==1.23
websocket-client==0.56.0
